@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

*{
    margin:0;
    padding:0;
    font-family: 'Noto Sans', sans-serif;
    background: #FAF3E0;
}
a{
    text-decoration: none;
}
.displaypic{
    /* position: absolute; */
    width: 280px;
    height: 380px;
    /* left: 60px;
    top: 0px; */
}
.header{
    display:flex;

}
.image_icon{
    flex: 1;
    display:flex;
    align-items: center;
    flex-direction: column;
}
.container{
    padding: 0 30px;
}
.about{
    flex: 3;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.introduction{
    display: flex;
}
.contact_icons{
    flex:1;
    display: flex;
    justify-content: center;
}
.contact_icons a img{
    width: 36px;
    height: 36px;
    margin-top: 10px;
  
}
.intro{
    flex:3;
}
/* .sicons{
    color:#493323;
} */
.sicons:not(:last-child){
   
    margin-right: 30px;
}
.nav{
  
    height: 28px;
    display: flex;
    text-align: right;
    justify-content: flex-end;
    width: 100%;
    padding: 30px 10px;
}

.hori_list{
    color: #493323;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    margin-right: 20px;
    font-size: 22px;
    cursor: pointer;
}
.inactive{   
    font-family: 'Arvo', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    margin-right: 20px;
    color: #B68973;
}
.active{
    font-family: 'Arvo', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    margin-right: 20px;
    color:#493323;
}
.name{
    width: 339px;
    height: 70px;
    font-family: Sacramento;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 70px;
    text-align: center;
    color: #DB6400;
}

.designation{
   
    width: 450px;
    height: 106px;
    font-family: 'Arvo', serif;
    font-style: normal;
    font-weight: 300;
    font-size: 50px;
    line-height: 106.7%;
    text-align: center;
    color: #493323;
}

.hello{
    
    font-family: Kanit;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: 0.085em;
    color: #B68973;
    margin-bottom: 10px;
}
.info{
    
    font-family: Noto Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0.07em;
    color: #493323;
}
.details{

    width: 298px;
    height: 93px;
    list-style-type: none;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0.085em;
    color: #493323;
    margin-top: 10px;
}
.head{
   
    font-family: 'Kanit', sans-serif;
    font-style:normal;
    font-weight:600;
    font-size: 100px;
    text-align: center;
    letter-spacing: 0.085em;
    color: rgba(182, 137, 115, 0.14);
}
.sub_head{
    position: relative;
    top:-65px;
    font-family: 'Arvo', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    text-align: center;
    letter-spacing: 0.085em;
    color: #B68973;
    background: transparent;
}
.skills{
    display: flex;
    padding: 0px 150px;
    padding-bottom: 50px;
}
.level{
    flex:1;
    margin-bottom: 45px;
}
.front_tech{
    flex:3;
}
.prog{
    flex:3;
}
.design{
    flex:3;
}
.level_list{
    list-style-type: none;
    font-family:'Arvo',serif;
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
    line-height: 2.5;
    text-align:right;
    letter-spacing: 0.085em;
    color: #493323;
    margin: 0 10px;
}
.bar{
    display: flex;
    justify-content: space-evenly;
    /* margin-top: 60px; */
    list-style-type: none;
    align-items: flex-end;
    height: 120px;
}
.rect_1{
    width: 12px;
    height: 30px;
    background: #B68973;
    border-radius: 30px;
    margin: 0 10px;
    margin-bottom: 10px;
}
.rect_2{
    width: 12px;
    height: 60px;
    background: #B68973;
    border-radius: 30px;
    margin-bottom: 10px;
}
.rect_3{
    width: 12px;
    height: 95px;
    background: #B68973;
    border-radius: 30px;
    margin-bottom: 10px;
}
.tech_name{
    
    font-family:'Arvo', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.085em;
    color: #000000;
}
.lang_front{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    
}
.lang{
    font-family: 'Arvo',serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.085em;
    color: #493323;
    margin:0 10px;
}
.prgm_color{
    background: #A2D0C1;
}
.design_color{
    background: #C6A9A3;
}
.front_color{
    background: #D9DAB0;
}
.contact{
    display: flex;
}
.quote{
    flex:1;
    width:300px;
    font-family: 'Kanit', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 75px;
    text-align: right;
    letter-spacing: 0.085em;
    color: rgba(219, 100, 0, 0.44);
    align-items: flex-end;
    padding-top: 30px;
}
.form{
    flex:1;
    padding: 0 30px;
}
.field{
    width: 80%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #493323;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0.085em;
    /* color:#493323; */
    outline: none;
}
#submit{
    width: 20%;
    padding: 10px 0;
    background: none;
    border: none;
    border: 1px solid #493323;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0.085em;
    color:#493323;
    outline: none;
}
#msg{
    padding-bottom: 70px;
}
.footer{
    background-color: #493323;
    height: 50px;
    font-family: Sacramento;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 44px;
    letter-spacing: 0.085em;
    color: #FFFFFF;
    padding-left: 30px;
    margin-top: 40px;
    padding-top: 10px;
    text-decoration: none;
}
.intro_work{
    padding-right: 400px;
    padding-left: 50px;
}
.info_work{
    font-family: 'Arvo', serif;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 25px;
    letter-spacing: 0.07em;
    color: #493323;
}
.project{
    display:flex;
}
.photo1{
    flex:3;
    display: flex;
    margin:40px 0px 40px 40px;
    text-align: center;
    height: 500px;
    width: 400px;
    justify-content: center;
    align-items: center;
}
.description1{
    flex:2;
    /* display: flex; */
    margin:40px 40px 40px 40px;
    padding-top: 40px;
}
.project1pic{
    width: 650px;
    height: 350px;
    border-radius: 3px;
    /*opacity: 0.7;
    */;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
.project1_head{
    font-family: 'Arvo', serif;
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 45px;
    text-align: left;
    letter-spacing: 0.07em;
    color: #493323;
    position: relative;
    left: -95px;
    background: none;
    padding-bottom: 20px;
}
.project1_subhead{
    font-family: Noto Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.07em;
    color: #493323;
    padding-bottom: 20px;
}
.project1_link{
    text-decoration: none;
    font-family: Noto Sans;
    font-style:normal;
    font-size: 14px;
    line-height: 25px;
    text-align: left;
    letter-spacing: 0.07em;
    color: #493323;
}
.description2{
    flex:2;
    /* display: flex; */
    margin:40px 40px 40px 40px;
    padding-top: 40px;
}
.photo2{
    flex:3;
    display: flex;
    margin:40px 40px 40px 0px;
    text-align: center;
    height: 500px;
    width: 400px;
    justify-content: center;
    align-items: center;
}
.project2_head{
    font-family: 'Arvo', serif;
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 45px;
    text-align: right;
    letter-spacing: 0.07em;
    color: #493323;
    position: relative;
    right: -100px;
    background: none;
    padding-bottom: 20px;
}
.project2_subhead{
    font-family: Noto Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.07em;
    color: #493323;
    padding-bottom: 20px;
    text-align: right;
}
.project2_link{
    text-decoration: none;
    font-family: Noto Sans;
    font-style:normal;
    font-size: 14px;
    line-height: 25px;
    text-align: right;
    letter-spacing: 0.07em;
    color: #493323;
}
/* .testimonials{
    display:flex;
} */
.kind_words{
    font-family:'Arvo',serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.07em;
    color: #493323;
    text-align: center;
    /* background-color: #493323; */
}
.message{   
    font-family: Noto Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.085em;
    color: #493323;
    margin: 10px 420px;
    margin-top: 40px;
}

.circles{
    list-style-type: none;
}
.scroll_icons{
    flex:1;
    display: flex;
    justify-content: center;
}
.scroll_icons a img{
    width: 15px;
    height: 15px;
    margin-top: 5px;
  
}
.name_scroll{
    font-family: Sacramento;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #DB6400;
}
body{
    overflow-x: hidden;
}
/* Testimonial */
#testimonials{
    transition: transform 300ms ease-in;
}
.testimonials{
    display: flex;
    overflow: hidden;
    width: max-content;
}
.testimonial{
    display: flex;
    flex-direction: column;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}